{% extends "base.html" %}


{% block title %}Pojanja{% endblock %}


{% block content%}
<div class="container p-5">
    <div class="row">
        {% for folder in folders %}
            <div class="col-md-3 mb-4">
                <div class="card h-100 d-flex flex-column" >
                    <div class="card-body d-flex flex-column flex-grow-1">
                        <h5 class="card-title text-center">{{ folder.name }}</h5>
                        <p class="card-title text-center">{{folder.language}}</p>
                        <!-- Ostali sadržaj kartice -->
                        <div class="mt-auto text-center">
                            <a href="{% url 'pojanja_list_view' slug=folder.slug %}" class="btn btn-primary">Otvori</a>
                        </div>
                    </div>
                </div>
            </div>
            {% if forloop.counter|divisibleby:4 %}
                </div><div class="row">
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}